/build/compile
/dist
/node_modules
/src/generated

logs
*.log
.DS_Store
/coverage

.env
.env.local
.env.production
.env.migrate
build/.env
build/.env.production
build/.env.migrate

.temp
.tmp
*.tsbuildinfo
